
.clalendar-js {
    border: 1px solid grey;
    border-radius: 5px;

    .header {
        margin: 5px 0px;

        .prev {
            margin: 5px 0px 0px 10px;
        }

        .next {
            margin: 5px 10px 0px 0px;
        }

        .prev span.glyphicon,
        .next span.glyphicon {
            margin: -5px 0 0 0;
        }

        div {
            display: inline-block;
        }

        .content {
            width: 80%;
            text-align: center;
            .btn-group {
                margin: -6px 0 0 0;
            }
            form.form-inline {
                margin: 5px;
                padding: 0;
            }
        }
        .content.mini {
            width: 50%;
            text-align: left;
        }
    }

    tr.day {
        .time {
            width: 80px;
            text-align: center;
        }
    }
    th.day {
        cursor: pointer;
    }

    .expanded-day {
        min-height: 80px;
        height: 80px;
    }

    .day {
        span.date {
            font-size: small;

            a {
              color: grey;
            }

            a:hover,
            a:focus {
                font-weight: 900;
            }
        }
    }
    .day.grey {
        color: grey;
        background-color: #f6f6f6;

    }

    .day.grey.weekend,
    .day.weekend {
        background-color: #FF9999;
    }

    .day.weekend.today,
    .day.today {
        background-color: #007A00;
        span.day {
            a {color: black;}
        }
    }

    .hover
    .day.today.hover,
    .day.weekend.hover,
    .day.grey.hover,
    .day.hover{
        background-color: #f0ad4e;
    }

    table.table-fixed {
        table-layout: fixed;
    }
}
